.string {
    position: relative;
    display: grid;
    grid-template-columns: repeat(25, 70px);
    color: colorOnBackground($white);
    z-index: 1;

    &::before {
        position: absolute;
        height: 1px;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        background: $black;
        z-index: -1;
    }
}
