:root {
  --switch-bg-color: #3b3b3b;
  --switch-grip-color: #fff;
  --switch-grip-border-color: #3b3b3b;
  --app-background-color: #fff;
  --text-color: #3b3b3b;
  --string-color: #3b3b3b;
  --fret-color: #212228;
  --note-bg-color: #264b68;
  --note-text-color: #fff;
  --scale-note-bg-color: #ff5e00;
  --tooltip-bg-color: #264b68;
}

[theme="dark"] {
  --switch-bg-color: #ff5e00;
  --switch-grip-color: #fff;
  --switch-grip-border-color: #fff;
  --app-background-color: #212228;
  --text-color: #fff;
  --string-color: #ccc;
  --fret-color: #ccc;
  --note-bg-color: #264b68;
  --note-text-color: #fff;
  --scale-note-bg-color: #ff5e00;
  --tooltip-bg-color: #264b68;
}
